<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
    <servlet-name>HelloRulesServlet</servlet-name>
    <servlet-class>org.openshift.quickstarts.decisionserver.hellorules.client.HelloRulesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloRulesServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
